/*default*/
* {
	outline: none !important;
}

body,
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
}

h2 {
	font-size: 45px;
	font-weight: 700;
	color: #000000;
	margin: 0 0 10px;
	padding-left: 0;
}

p {
	font-size: 16px;
}

.bullet:before {
	display: inline-block;
	content: "";
	width: 17px;
	height: 17px;
	background-color: #000;
	margin-right: 20px;
}

header,
section {
	overflow-x: hidden;
}

/*btn*/
.btn {
	font-size: 25px;
	font-weight: 400;
	padding: 10px;
	border-radius: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-pink {
	color: #ffef00 !important;
	background-color: #fa36c5 !important;
	border-color: #fa36c5 !important;
}

.btn-pink:hover {
	background-color: #bb2893 !important;
	border-color: #bb2893 !important;
}

/*text*/
.text-extra-bold {
	font-weight: 900;
}

/*header*/
.navbar {
	min-height: 45px;
    border: none;
    z-index: 9999;
}

.navbar-default {
    background-color: #ffef00;
    border-color: #ffef00;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    font-weight: bold;
}

.navbar-brand {
    height: 45px;
    padding: 13px 15px;
}

.navbar-default .navbar-nav.navbar-right:first-child {
	margin-left: 70px;
}

.navbar-default .navbar-nav.navbar-right:first-child>li>a {
    padding: 8px 5px;
}

.navbar-right:last-child {
	margin-top: 4px;
}



/*carousel fade*/
.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-control {
	z-index: 2;
}

.carousel-control.left,
.carousel-control.right {
	box-shadow: none;
	-webkit-box-shadow: none;
	background: transparent;
}

@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
	.carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.carousel-fade .carousel-inner > .item.prev,
	.carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right,
	.carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}


/*banner*/
#banner {
	margin-bottom: 50px;
}

#banner .carousel-inner,
#banner .item {
	height: 100%;
}

#banner .item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#banner .carousel-control-box {
    background-color: #fff;
    width: 70px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 9991;
}

#banner .carousel-control {
	width: 50%;
	padding: 10px;
}

#banner .carousel-caption {
	background-position: 30px 30px;
    background-color: #fa36c5;
    width: 100%;
    padding: 75px 55px;
    bottom: 50%;
    left: 15px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    overflow: hidden;
}

#banner .carousel-caption:before {
	display: block;
	content: "";
	position: absolute;
	top: 30px;
	left: 30px;
	width: 100%;
	height: 100%;
	background-image: url(../img/bg-banner.png);
	z-index: 1;
	opacity: 0.1;
}


#banner .carousel-caption .text {
	position: relative;
	z-index: 2;
}

#banner .container {
	position: relative;
}

#banner .item div:not(.carousel-caption) {
	height: 100%;
}

#banner .carousel-caption h1 {
	font-size: 52px;
	line-height: 76px;
	font-weight: 400;
	color: #ffffff;
	text-align: left;
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
}


/*empresa*/
.empresa {
	padding-top: 40px;
}

.empresa .border {
	border: 10px solid #ffef00;
    margin-top: 60px;
    padding: 40px;
}

.empresa h2 {
    margin-top: -80px;
    margin-bottom: 30px;
}

.empresa .box {
	background-color: #d8dade;
	padding: 20px 25px;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	line-height: 22px;
	margin-bottom: 30px;
}

.empresa .icon {
	min-height: 55px;
}

.empresa h4 {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.empresa p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #000000;
}

.empresa hr {
	border-color: #f2f3f4;
}

.empresa h3 {
	font-style: 26px;
	line-height: 26px;
	font-weight: 900;
	color: #000;
}

.empresa .bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 740px;
	width: 1000px;
	position: absolute;
	top: 0;
	right: 0;
}

.produtos {
	margin-top: 50px;
	padding: 70px 0;
}

.produtos h3 {
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 900;
}

.produtos h3.bullet:before {
	width: 10px;
	height: 10px;
	margin-right: 5px;
}

.produtos .downloads  {
	margin-top: 30px;
}

.produtos .downloads a {
	background-color: #ffef00;
	border-radius: 0;
	border: none;
	font-size: 16px;
	font-weight: 700;
	color: #000;
	text-align: left;
	padding: 8px 10px;
	margin: 0 0 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.produtos .downloads a:hover {
	background-color: #d0c303;
}

.produtos .downloads a img {
	float: right;
}

.produtos .box-produto {
	height: 100%;
}

.produtos .box-produto .image {
	background-position: center;
	background-size: cover;
	height: 120px;
}

.produtos .box-produto .text {
	color: #fff;
	padding: 35px 25px;
	height: calc(100% - 130px);
}

.produtos .box-produto .text-blue {
	background-color: #00b3e7;
}

.produtos .box-produto h3 {
	font-size: 30px;
	line-height: 40px;
	color: #ffef00;
	font-weight: 700;
	text-transform: initial;
	margin: 0 0 10px;
}

.produtos .box-produto p {
	font-size: 14px;
	line-height: 24px;
}

.produtos .box-produto .text-pink {
	background-color: #fa36c5;
}

.produtos .box-produto .text-yellow {
	background-color: #ffef00;
	color: #000000;
}

.produtos .box-produto .text-yellow h3 {
	color: #fa36c5;
}

.contato .onde-estamos {
	background-color: #00b3e7;
	padding: 30px 0;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
}


.contato .onde-estamos h2 {
	font-size: 45px;
	line-height: 55px;
	color: #ffef00;
	margin-top: 40px;
}

.contato .onde-estamos h2 img {
	margin-top: -5px;
}

.contato .onde-estamos p {
	font-size: 14px;
	line-height: 22px;
}

.mapa {
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 640px;
}

.mapa .form-contato {
	background-color: #fff;
	padding: 15px;
	margin: 45px 0;
}

.mapa h2 {
	font-size: 45px;
	font-weight: 400;
	color: #000;
	margin: 0 0 60px;
}

.mapa .form-group {
	margin-bottom: 15px;
}

.mapa .form-control {
	height: 40px;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	padding-bottom: 8px;
	border-radius: 0;
	border-color: #000;
}

.mapa textarea.form-control {
	resize: none;
	height: 100px;
}