@media (min-width: 1200px) {
	.container {
	    width: 1120px;
	}
}

@media (max-width: 992px) {
	#banner .carousel-caption {
		left: 0;
	}

	.produtos .row .col-height:first-child {
	    height: initial !important;
	    margin-bottom: 30px;
	}
}

@media (max-width: 768px) {
	.navbar-default .navbar-nav.navbar-right:first-child {
		margin-left: 0;
	}

	.navbar-default .nav:first-child>li {
		display: inline-block;
	}

	#banner .carousel-caption h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.empresa .bg {
	    position: relative;
	    top: inherit;
	    right: inherit;
	    height: 300px;
	}

	.produtos .row .col-height {
		margin-bottom: 30px;
	}

	.mapa iframe {
		min-height: 300px;
	}
}